body {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffebcd;
}

.input-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: #e6ae5a;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 0 2px 4px #352e23;
}

#results-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    background-color: #b39d89;
    padding: 1rem;
    border-radius: 2px;
    box-shadow: 0 2px 4px #2c2821;
    margin: 2.61;
}
